<%- include ('header'); -%>
    <h1>Bienvenue dans l'accueil</h1>
    <fieldset>
        <p>Créez un compte client pour bénéficier un service de commande à distance ,
             livraison et menus personnels</p>
        <a href="/sign_in">Créer un compte</a><br>
        <a href="/login">J'ai déjà un compte</a><br>
        <a href="/personnel">Je suis membre du personnel</a><br>
    </fieldset>
<%- include ('footer'); -%>