<%- include ('header'); -%>
<div>
    <form action="/livre_d_or" method="post">
        <input type="text" style="height: 100px;width: 400px;"name="mot">
        <button type="submit">Envoyer</button>
    </form>
</div>

<%- include ('footer'); -%>