<fieldset>
    <form action="/sign_in" method="post">
        <label for="nom">Votre nom <br><input type="text" name="nom"></label><br><br>
        <label for="nom">votre adresse mail <br><input type="email" name="e_mail"></label><br><br>
        <label for="nom">Créer un mot de passe <br><input type="text" name="mdp"></label><br><br>
        <label for="nom">Confirmer votre mot de passe <br><input type="text" name="mdp_confirm"></label><br><br>

        <button type="submit">Valider</button>
    </form> 
</fieldset>